<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
   <listener class-name = "com.qa.eBay.Reports.Listeners"/>
</listeners>
 
  <test name="Validating Home Page">
    <classes>
      <class name="com.qa.OrderPlace.eBay.HomePageLogin"/>
      <class name="com.qa.OrderPlace.eBay.AppTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Validating Add to Cart">
    <classes>
      <class name="com.qa.OrderPlace.eBay.AddToCart"/>
    </classes>
 </test> <!-- Test -->
</suite> <!-- Suite -->
